.news {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}
.aside {
  background-color: #0f0f0f;
  border-radius: 10px;
  border: 2px solid #262626;
  padding: 20px;
  flex: 1;
}
.dopContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content {
  display: flex;
  gap: 30px;
}

.search {
  position: sticky;
  top: 0;
  background-color: #0f0f0f;
  padding: 20px 20px 0 20px;
}
.input {
  width: 100%;
  background-color: #0f0f0f;
  border-radius: 5px;
  border: 2px solid #3f3e3e;
  padding: 12px;
  outline: none;
  margin-bottom: 15px;
  font-size: 16px;
  color: #999;
}
.cuurency {
  font-size: 16px;
  font-weight: 400;
  color: #262626;
}
.ratesContent {
  padding-bottom: 20px;
  background: linear-gradient(to top, #525252 5%, #0f0f0f 65%, #000000);
  border-radius: 10px;
  border: 2px solid #262626;
  height: 550px;
}
.rates {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: scroll;
  height: 530px;
}
.newsContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.loadMore {
  display: flex;
  background-color: #0f0f0f;
  border-radius: 10px;
  border: 2px solid #262626;
  padding: 10px 14px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  width: 200px;
  justify-content: center;
}
.loadMore:hover {
  color: #fff;
}
@media (max-width: 920px) {
  .content {
    flex-direction: column-reverse;
  }
}
@media (max-width: 600px) {
  .content {
    flex-direction: column-reverse;
  }
}
