.movieDetails {
  margin-bottom: 100px;
}

.info {
  background-color: #1a1a1a;
  border: 2px solid #262626;
  border-radius: 10px;
  padding: 40px;
}

.customControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 120px;
}

.swiperPrev,
.swiperNext {
  min-width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #0f0f0f;
  border: 2px solid #262626;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.swiperPrev:hover,
.swiperNext:hover {
  background-color: #414141;
}

.exploreSwiper {
  cursor: pointer;
}

.movieInfo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}
.info:nth-child(1) {
  grid-column: span 8;
  grid-row: 1;
}
.info:nth-child(2) {
  grid-column: span 8;
  grid-row: 2;
}
.info:nth-child(3) {
  grid-column: span 8;
  grid-row: 3;
  height: 300px;
}
.info:nth-child(4) {
  grid-column: span 8;
  grid-row: 4;
}
.info:nth-child(5) {
  grid-column: span 5;
  grid-row: 1/4;
  height: max-content;
}

.exploreSlide {
  height: auto !important;
}

.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(#00000040 83%, #141414 100%);
}

.video {
  border-radius: 10px;
}
.accordionButton {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #0f0f0f;
  border: 2px solid #262626;
  transition: all 0.3s ease-in-out;
}

.accordionItem[data-state="open"] .accordionButton {
  transform: rotate(-180deg);
}
.accordionItem[data-state="open"] .accGroup::before {
  display: none;
}

.accordionItem[data-state="open"] .accGroup::after {
  transform: rotate(0);
}
.accordionItem {
  position: relative;
  border-radius: 10px;
  background-color: #0f0f0f;
  border: 2px solid #262626;
  transition: all 0.3s ease-in-out;
}
.accordionItem:hover .accordionButton {
  background-color: #414141;
}
.accordionTrigger {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 25px 40px;
  font-size: clamp(16px, 3vw, 20px);
  line-height: clamp(20px, 3vw, 26px);
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: transparent;
  color: #fff;
}
.accordionRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.episodeCount {
  font-size: 16px;
  line-height: 18px;
  color: #999;
  font-weight: 400;
}
.accTextGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 920px) {
  .movieInfo {
    grid-template-columns: 1fr;
  }
  .info:nth-child(1) {
    grid-column: span 12;
    grid-row: 1;
  }
  .info:nth-child(2) {
    grid-column: span 12;
    grid-row: 2;
  }
  .info:nth-child(3) {
    grid-column: span 12;
    grid-row: 3;
    height: 300px;
  }
  .info:nth-child(4) {
    grid-column: span 12;
    grid-row: 4;
  }
  .info:nth-child(5) {
    grid-column: span 12;
    grid-row: 5;
    height: max-content;
  }
  .info {
    padding: 25px;
  }
}
@media (max-width: 768px) {
  .filmText {
    display: none;
  }
  .movieDetails {
    margin-bottom: 40px;
  }
}
