.provide {
  margin-bottom: 60px !important;
}
.provideTextContent {
  margin-bottom: 60px;
}
.provideContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 920px) {
  .provideContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .provide,
  .provideTextContent {
    margin-bottom: 40px !important;
  }
  .provideContent {
    grid-template-columns: 1fr;
  }
}
