.movieCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
  cursor: pointer;
  border: 2px solid #1f1f1f;
  transition: all 0.3s ease-in-out;
}

.poster {
  border-radius: 20px;
  max-width: 600px;
  height: 281px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.movieCard:hover .poster {
  transform: scale(1.03);
}
.movieCard:hover {
  border-color: #2a2a2a;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 32px;
  background-color: #141414;
  border: 1px solid #262626;
  width: max-content;
  font-size: 16px;
  color: #999;
}
@media (max-width: 600px) {
  .movieCard {
    padding: 12px;
  }
  .poster {
    height: 195px;
  }
}
