.movieCard {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
  cursor: pointer;
  border: 2px solid #1f1f1f;
  transition: all 0.3s ease-in-out;
}

.movieCard:hover {
  transform: scale(0.98);
}
.poster {
  border-radius: 20px;
  width: 243px;
  height: 281px;
  object-fit: cover;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 32px;
  background-color: #141414;
  border: 1px solid #262626;
  width: max-content;
  font-size: 16px;
  color: #999;
}
@media (max-width: 600px) {
  .movieCard {
    width: 181px;
    padding: 12px;
  }
  .poster {
    width: 153px;
    height: 195px;
  }
}
