.content {
  position: relative;
  margin-bottom: 100px;
}
.aboutFilm {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1100px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}
.filmButton {
  min-width: 57px;
  height: 57px;
  border-radius: 10px;
  background-color: #0f0f0f;
  border: none;
  outline: none;
  cursor: pointer;
}
.filmButtons {
  display: flex;
  gap: 15px;
}
.btnGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contentImage::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(#00000040 83%, #141414 100%);
}
.poster {
  width: 100%;
  max-width: 1620px;
  max-height: 835px;
  border-radius: 5px;
  object-fit: cover;
  z-index: 1;
}
.contentImage {
  display: flex;
  gap: 10px;
  background: rgb(26, 26, 26);
  cursor: pointer;
}
.noImage {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  font-size: clamp(18px, 2vw, 32px);
}
@media (max-width: 768px) {
  .btnGroup {
    flex-direction: column;
  }
  .poster {
    height: 468px;
  }
}
@media (max-width: 600px) {
  .previewButton {
    width: 80%;
    justify-content: center;
  }
}
