.weather {
  position: sticky;
  top: 20;
  padding: 20px;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
  overflow: hidden;
  height: max-content;
  width: 400px;
  flex-shrink: 0;
}
.city {
  font-size: 20px;
  font-weight: 600;
}
.day {
  background: linear-gradient(to top, #87ceeb, #ffffff);
  color: #222;
}

.night {
  background: linear-gradient(to top, #2c3e50, #000000);
  color: #ecf0f1;
}
.day > .city {
  color: #000000;
}

.night > .city {
  color: #cccbcb;
}

@keyframes moveClouds {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info,
.otherInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 920px) {
  .weather {
    width: 100%;
  }
  .info {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
