.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader {
  outline: 1xp solid red;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 75px;
  height: 75px;
  margin: -37px 0 0 -25px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e50000;
  animation: spin 2s linear infinite;
  z-index: 10000;
}
.loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e50000;
  animation: spin 3s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $loader-color;
  animation: spin 1.5s linear infinite;
}
